* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

p,
ul {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "barlow";
  src: url(../fonts/Barlow-Medium.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

:root {
  --poppin-font: "poppins";
  --poppin-font-2: "poppins-bold";
  --barlow-font: "barlow";
  --red-color: "#ec0139";
}

@media (min-width: 1600px) {
  .container {
    width: 100%;
    max-width: 1420px;
  }
}

/* matches section */

.matches-section {
  width: 100%;
  background-image: url(../images/football-img.jpg);
  padding: 80px 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.matches-section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #ffffffbd;
  z-index: -1;
}

.match-card {
  padding: 0 40px 30px;
  border: 2.18px solid var(--Red, #ec0139);
  box-shadow: 9px 10px 10.4px 0px #00000040;
  background: var(--Blue, #084178);
  border-radius: 8px;
  margin-right: 20px;
}

.back-image {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.live-badge {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--Blue, #084178) !important;
  padding: 4px 18px;
  width: fit-content;
  color: #fff;
  font-family: var(--poppin-font);
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 8px;
}

.heading-text {
  font-family: var(--barlow-font);
  font-weight: 800;
  font-style: italic;
  font-size: 70px;
  text-transform: uppercase;
}

.span-color {
  color: var(--Red, #ec0139) !important;
}

.bottom-para {
  font-family: var(--poppin-font-2);
  font-weight: 500;
  font-size: 22.5px;
}

.btn-area {
  display: flex;
  align-items: center;
  gap: 18px;
}

.btn-area button {
  border: 1px solid var(--Blue, #084178);
  padding: 8px 38px;
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  background: transparent;
  color: #084178;
  opacity: 0.5;
}

.btn-area button.active {
  background: var(--Blue, #084178);
  border: 1.4px solid var(--Red, #ec0139);
  color: #fff;
  opacity: 1;
  transition: all 0.3s linear;
}

.btns-column {
  display: flex;
  justify-content: end;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: center;
}

.status-badge {
  display: flex;
  justify-content: center;
  width: 100px;
  background: var(--Red, #ec0139);
  padding: 5px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fff;
}

.card-matches-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.team-area img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.team-name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

.date-area {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.hour-left-text {
  font-size: 17px;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.day-left-text {
  font-weight: 700;
  font-size: 12px;
}

/* matches section ends */

/* tournament section */

.tournament-section {
  position: relative;
  padding: 40px 10px;
  z-index: 1;
}

.stripe-img {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  z-index: -1;
}

.side-bar {
  height: 100%;
  background: #084178;
  border-radius: 8px;
}

.sec-hd {
  font-family: var(--barlow-font);
  font-weight: 800;
  font-style: italic;
  font-size: 64px;
}

.side-bar-header {
  background: #ec0139;
  text-align: center;
  color: #fff;
  padding: 10px 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: var(--barlow-font);
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.league-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  transition: all 0.3s ease-in;
}

.league-container:hover {
  background: #ec0139;
}

.img-leagues {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.content_container {
  display: flex;
  flex-direction: column;
}

.league_name {
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
}

.league_level {
  color: #d3d3d3;
  font-weight: 500;
}

.search_inp {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #b1b1b1;
  background: #efefef;
  border-radius: 8px;
  font-size: 14px;
}

.search_inp:focus {
  outline: 2px solid skyblue;
}

.column-details {
  padding: 0 40px;
}

.top_games_block {
  background: #fff;
  box-shadow: 0 0 1px gray;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.side-bar-header-2 {
  display: flex;
  justify-content: flex-start;
}

.game_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.border-class {
  border-bottom: 1px solid rgba(180, 180, 180, 0.685);
}

.border-class:nth-last-child(1) {
  border-bottom: none;
}

.logo_team_area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.team_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team_name_logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.img-leagues-2 {
  height: 28px;
  width: 28px;
  object-fit: contain;
}

.logo_game {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.team_name_logo span {
  font-family: var(--poppin-font);
  font-weight: 400;
  font-size: 16px;
  color: #373737;
}

.tournament_time {
  font-family: var(--poppin-font);
  font-weight: 400;
  font-size: 16px;
  color: #373737;
}

.side-bar-2 {
  background: #efefef;
}

.tab-area {
  display: flex;
  flex-direction: column;
}
.tab-area button {
  border: none;
  text-align: start;
  background: transparent;
  padding: 20px;
  color: #5a5a5a;
  font-family: var(--poppin-font);
  font-weight: 500;
  font-size: 18px;
}

.tab-area button.active {
  background: var(--Blue, #084178);
  box-shadow: 5px 6px 12.2px 0px #00000040;
  color: #fff;
}

.winner {
  font-weight: 700 !important;
}

.result-badge {
  background: var(--Blue, #084178);
  font-family: var(--poppin-font);
  font-weight: 600 !important;
  font-size: 12px;
  text-align: center;
  color: #fff !important;
  padding: 2px 15px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 20px;
}

.icon-search {
  position: absolute;
  right: 20px;
  top: 35%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #b1b1b1;
}
/* tournament section ends */

/* single page */

/* header */

header {
  padding: 10px;
  background: #faf9fe;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav ul li {
  list-style: none;
  padding: 7px 20px;
  border-radius: 8px;
}

nav ul li a {
  font-family: var(--poppin-font);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #222222;
}

nav ul li.active {
  background: #ec013933;
}

nav ul li.active a {
  color: var(--Red, #ec0139);
  font-family: var(--poppin-font);
  font-weight: 700;
  font-size: 18px;
}
.search_area {
  display: flex;
  align-items: center;
  gap: 30px;
}
.search-inp {
  border: none;
  width: 150px;
  border-bottom: 1px solid #a8a8a8;
  background: none;
  font-size: 14px;
  color: #656565;
  outline: none;
}

.abs-icon {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.auth-login {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--poppin-font);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #ec0139;
}

/* hero banner */
.video-area {
  width: 100%;
}

.video-area:hover .play-btn {
  display: block !important;
}

.setting-drp {
  display: none;
  position: absolute;
  top: -60px;
  left: -40px;
  background: #fff;
  width: 150px;
  border-radius: 10px;
  padding: 10px;
}

.setting-drp.active {
  display: block !important;
}

.setting-drp button {
  width: 100%;
  color: #000 !important;
  background: transparent;
  font-size: 14px !important;
  font-family: var(--barlow-font);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_banner {
  position: relative;
}
.team-score-card {
  width: 100%;
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
}

.team-score-img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}
.league_tournament {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tournament_score_name {
  font-family: var(--barlow-font);
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  color: #fff;
}

.match_time {
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 43px;
  color: #fff;
}
.score_area {
  display: flex;
  align-items: center;
  gap: 25px;
}

.teams_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.teams_info span {
  font-family: var(--poppin-font);
  font-size: 15px;
  color: #fff;
}

.goals_text {
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

.play-btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: none;
  background-image: url(../images/play-btn-img.png);
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

/* team lineups section */
.lineups_section {
  width: 100%;
  background-image: url(../images//football-sec-2.png);
  padding: 80px 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.team_formation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team_placement {
  display: flex;
  align-items: center;
  gap: 15px;
}
.formation_team_img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.team_short_name {
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 27px;
}

.team_field_setup {
  font-family: var(--poppin-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 0.8;
}

.player_detail_area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player_name {
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 22px;
}

.player_img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}
.field-img {
  width: 100%;
}

.tabs-btn-2 {
  background: #d9d9d9;
  margin: auto;
  width: fit-content;
}

.tabs-btn-2 button {
  padding: 10px 25px;
  background: transparent;
  border: none;
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 16px;
  color: #585858;
  text-transform: uppercase;
}

.tabs-btn-2 button.active {
  background: var(--Red, #ec0139);
  color: #fff;
}

.tabs-btn-2 {
  margin-bottom: 80px;
}

.combination_block {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1.78px 3.55px -1.78px #0000001a;
  box-shadow: 0px 1.78px 5.33px 0px #0000001a;
  background: #e6e5e5;
  padding: 20px 30px;
  border-radius: 15px;
}

.padding-column {
  padding: 70px 30px;
}

.players-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0;
}

.players-list-2 li {
  justify-content: space-between;
}

.brand_section {
  padding: 60px 80px;
}

.brand-img {
  height: 180px;
  width: 220px;
  object-fit: contain;
}

/* footer */
.footer-main {
  padding: 100px 0;
  background: var(--Red, #ec0139);
  background-image: url(../images/bg-pattern.png.png);
  background-size: cover;
  background-position: bottom;
}

.sub-hd {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-transform: capitalize;
  color: #fff;
}

.input-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ebebeb;
  padding: 5px 10px;
  padding-left: 20px;
  border-radius: 8px;
}
.input-footer input {
  height: 48px;
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  border: none;
  outline: none;
  background: transparent;
}

.input-footer button {
  background: var(--Red, #ec0139);
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.columns-ft {
  padding: 0 10px;
}
.ft-col-hd {
  font-family: var(--barlow-font);
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  color: #fff;
}
.ft-nav-links {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.ft-nav-links li {
  list-style: none;
}

.ft-nav-links li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--poppin-font);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.ft-nav-links-2 li a {
  font-weight: 400 !important;
}

.ft-nav-links li a i {
  font-size: 10px;
}

.icon-social {
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Red, #ec0139);
}

.icon-social i {
  font-size: 18px !important;
}

.social-icons-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.social-icons-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.column-position {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-bottom {
  background: var(--Blue, #084178);
  padding: 10px 0;
}

.footer-bt-text {
  font-family: var(--poppin-font);
  font-weight: 300;
  font-size: 17px;
  color: #fff;
}

.footer-bt-text .span-text-2 {
  font-weight: 700 !important;
}

.footer-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audio_player {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px 80px;
}

input[type="range"] {
  width: 80%;
  height: 6px;
  cursor: pointer;
  accent-color: #fff;
}

.group-area-2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.group-area-2 button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}

.time_audio {
  font-family: var(--poppin-font);
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.play-btn.active {
  display: block;
}

.btn-class {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #ec0139;
  color: #fff;
  border: none;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  font-family: var(--barlow-font);
}

.column-btns {
  display: none;
}
/* single page ends */
